* {
    /* scroll-behavior: smooth; */
}

#wrapper-canvas canvas {
    max-width: 100%;
}

.container {
    visibility: hidden;
    /* transform: scale(0.9); */
    /* margin-right: 550px; */
    /* left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px; */
}

.open-popup {
    visibility: visible;
    /* transform: scale(1); */
    /* left: 50%;
    top: 50%;
    bottom: 50%;
    right: 50%;

    transform: translateX(-50%);
    transform: translateY(-50%); */
    /* transform: translate(-50%);
    transform: translate(-50%); */
}

/* Back to Top */
.totop-btn {
    opacity: 0;
    pointer-events: none;
}

.visible {
    opacity: 1;
    pointer-events: all;
}

.coursor-dot, .coursor-outline {
    transform: translate(-50%, -50%);
}


/* Scroll Animation */

.not-show-odd {
    opacity: 0;
    transition: all 1.5s;
    filter: blur(5px);
    transform: translateX(-50%);
}

.not-show-even {
    opacity: 0;
    transition: all 1.5s;
    filter: blur(5px);
    transform: translateX(50%);
}

.not-show-pop {
    opacity: 0;
    transition: all 1.5s;
    filter: blur(5px);
    transform: translateX(-50%);
    
    transform: scale(0.4);
}

.not-show-top {
    opacity: 0;
    transition: all 1.5s;
    filter: blur(5px);
    transform: translateY(-200%);
}

.not-show-bottom {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateY(200%);
}

.not-show-left {
    opacity: 0;
    transition: all 1.5s;
    filter: blur(5px);
    transform: translateX(-50%);
}

.not-show-right {
    opacity: 0;
    transition: all 1.5s;
    filter: blur(5px);
    transform: translateX(50%);
}

.not-show-left-special {
    opacity: 0;
    transition: all 1.5s;
    filter: blur(5px);
    transform: translateX(-20%);
}

.not-show-right-special {
    opacity: 0;
    transition: all 1.5s;
    filter: blur(5px);
    transform: translateX(20%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);

    transform: scale(1);
}