* {
    /* scroll-behavior: smooth; */
}

#wrapper-canvas canvas {
    max-width: 100%;
}

.container {
    visibility: hidden;
    /* transform: scale(0.9); */
}

.open-popup {
    visibility: visible;
    /* transform: scale(1); */
}

/* Back to Top */
.totop-btn {
    opacity: 0;
    pointer-events: none;
}

.visible {
    opacity: 1;
    pointer-events: all;
}

.coursor-dot, .coursor-outline {
    transform: translate(-50%, -50%);
}