h1 {
    text-align: center;
    text-decoration: underline dashed;
    /* box-shadow: 2px 2px 6px 1px black; */
}

.image-box {
    height: 300px;
    width: 300px;

    margin: auto;

    border: 2px solid darkblue;
    box-shadow: 2px 2px 12px 1px black;
}

#image1 {
    height: 300px;
    width: 300px;

    object-fit: cover;
    object-position: top;
}

#line1 {
    width: 350px;
    text-align: center;

    color: darkblue;
    margin: auto;
}

#line2 {
    width: 350px;
    text-align: center;

    margin: auto;
}