body {
    font-family: poppins;
    background-color: darkturquoise;
}

h1 {
    text-align: center;
}

.color-btn {
    height: 30px;
    width: 120px;

    margin-bottom: 20px;
}

.reset-btn {
    height: 30px;
    width: 120px;

    margin-bottom: 20px;
    margin-left: 20px;
}

.button-box {
    display: flex;
    /* align-items: center; */
    justify-content: center;

    margin: auto;
}

.color-box {
    text-align: center;
    height: 300px;
    width: 40%;

    border: 2px solid black;
    border-radius: 15px;

    margin: auto;
    background-color: white;
}

@media (max-width: 1200px) {
    .color-box {
        width: 60%;
    }
}

@media (max-width: 600px) {
    .color-box {
        width: 75%;
    }

    h1 {
        font-size: 26px;
    }
}